
<div class="album py-5 bg-light">
	<div class="container">
		<h1> Portfolio Items </h1>
		<hr>
  		<div class="row sortable">
			
			<%= render partial: 'portfolio_item', collection: @portfolio_items %>
 
		</div>
	</div>
</div>
	<%= link_to "Create New Portfolio Item", new_porto_path if logged_in?(:admin) %>