<h1> Portfolio Items </h1>

<%= link_to "Create New Portfolio Item", new_porto_path if logged_in?(:admin) %>

<p> <%= new_porto_path %> </p>
<p> <%= new_porto_url %> </p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
 
