  <div class="inner">
          <h3 class="masthead-brand">Hugh Harker</h3>
           <nav class="nav nav-masthead justify-content-center">
            <%= nav_helper 'nav-link', 'span class="app-nav"' %>
            <%= login_helper("nav-link app-nav")%>
          </nav>
        </div>