<footer class="text-muted">
      <div class="container">
        <p class="float-right">
         	<%= link_to 'View all Portfolio Items', portos_path %> | 
         	 <a href="#">Back to top</a>
        </p>
        	<hr>
         <%= source_helper("portfolio") %>
       	<%= copyright_generator %>

      </div>
    </footer>