<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        	<hr>
         <%= source_helper("portfolio") %>
       	<%= copyright_generator %>
      </div>
    </footer>