<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Portfolio</h1>
      <p class="lead text-muted">The collection below includes projects in both the computer programming/development and urban planning + design fields. As a design professional, it is fundimental to combine an understanding of contextual data and the user experience to produce a positive outcome. It is this understanding that I attempt to bring to all my projects.</p>
      <p>
        <%= link_to 'About me', about_me_path, class: "btn btn-primary my-2"%>
        <%= link_to 'Blog', blogs_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
 </section>
