
<div class="row">
	<div class="col-md-6">
		<h3>Let's work together.</h3>
		<p>Location</p>
		<p>Portland, Oregon </p>
		<p>Phone</p>
		<p><%= number_to_phone "6786651603" %></p>
		<p>Email</p>
		<p><a href="mailto: htharker@gmail.com?subject=Portfolio Contact" "email me">htharker@gmail.com</a></p>
		
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11180.121678555528!2d-122.68722615!3d45.5295934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1528087076848" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>