
<main role="main" class="inner cover">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">Software development is about more than code.  It is about building a relationship between the user and the process. I work to deliver software which fosters a postivie relationship between the user and your product.</p>
	<p class="lead">
	  <a href="/about-me" class="btn btn-lg btn-secondary">About Me</a>
	</p>
</main>